# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: get version
      id: version
      uses: notiz-dev/github-action-json-property@release
      with: 
        path: 'src\Flow.Launcher.Plugin.AudioDeviceSelector\plugin.json'
        prop_path: 'Version'    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore 'src\Flow.Launcher.Plugin.AudioDeviceSelector\Flow.Launcher.Plugin.AudioDeviceSelector.csproj'
    - name: Build
      run: dotnet build 'src\Flow.Launcher.Plugin.AudioDeviceSelector\Flow.Launcher.Plugin.AudioDeviceSelector.csproj' --no-restore
    - name: Dotnet Publish
      run: |
        dotnet publish 'src\Flow.Launcher.Plugin.AudioDeviceSelector\Flow.Launcher.Plugin.AudioDeviceSelector.csproj' -c Release -o "AudioDeviceSelector"
        7z a -tzip "Flow.Launcher.Plugin.AudioDeviceSelector.zip" "AudioDeviceSelector/*"
        rm -r "AudioDeviceSelector"
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: "Flow.Launcher.Plugin.AudioDeviceSelector.zip"
        tag_name: "v${{steps.version.outputs.prop}}"        
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
